<div class="container admin_login">
  <div class="row ">
    <div class="col-4 offset-4">
    <div class="card-columns">
    <div class="card" style="width: 20rem;">
    <div class="card-body ">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
  </div>

    <div class="form-group text-center">
    <%= f.submit "Log in", class: "form-control", class: "btn btn-primary" %>
  </div>
<% end %>


</div>
</div>
</div>
</div>
</div>
</div>