<!DOCTYPE html>
<html>
  <head>
    <title>Beauty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <div class="container">
          <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "home", "#" %></li>
              <li><%= link_to "news", "#" %></li>
              <li><%= link_to "about", "#" %></li>
              <li><%= link_to "stylist", "#" %></li>
              <li><%= link_to "menu", "#" %></li>
              <li><%= link_to "ご予約", "#" %></li>
              <% if admin_signed_in? %>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: "delete" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
