<div class="container">

<%= link_to "ブログインデックス", news_index_path %>

<div class="col-4">
        <div class="card">
          <%= image_tag "guilherme-petri-PtOfbGkU3uI-unsplash.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">ライトコース</h4>
            <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
            <span class="text-right"><%= button_to "read more", "#", class: "btn btn-outline-light btn-sm" %></span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <%= image_tag "guilherme-petri-PtOfbGkU3uI-unsplash.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">ライトコース</h4>
            <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
            <span class="text-right"><%= button_to "read more", "#", class: "btn btn-outline-light btn-sm" %></span>
          </div>
        </div>
      </div>
# ここに一時保存する
</div>